
.App{
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:white;
}

.moviesTab{
  margin-left: 20px;
  margin-right: 10px;
  height:40px;
  width: 80px;
  margin-top: 1px;
}
.favoriteTab{
  margin-left: 20px;
  margin-right: 10px;
  height:40px;
  width: 80px;
  margin-top: 1px;
}

.activeTab{
  color: white;
  background-color: blue;
}